@import '../../assets/styles/colors.scss';

.spot-button {
    &--primary, &--secondary {
        padding: 5px 15px;
        
        border-width: 0px;
        border-style: solid;
        border-radius: 25px; 
    }
    
    &--primary {
        background-color: $secondary;
        color: $white;
    }
    
    &--secondary {
        border-width: 1px;
        background-color: transparent;
        border-color: black;
        color: black;
    }
}