.spot-playlist-details {
    &__columns{
        display: flex;
        align-items: center;
        justify-content: space-between;

        > * {
            width: 20%;
        }
    }

    &__album-cover {
        width: 7vw;
    }

    &__track-info {
        cursor: pointer;
        user-select: none;
        width: 20%;
    }
    
    &__album-name {
        cursor: pointer;
        user-select: none;

        width: 20%;
    }

    &__release-date {
        cursor: pointer;
        user-select: none;

        width: 20%;
    }

    &__track-actions {
        width: 5%;
    }
} 