@import '../../assets/styles/colors.scss';

.spot-track-search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 30vw;

    &__field {
        min-width: 100%;

        border: 0px solid;
        padding: 4px 20px;

        &:focus {
            outline: none;
        }
    }

    &__results {
        // TODO: Replace by appropriate placement later
        position: absolute;
        top: 38px;
        width: 30vw;
        background-color: $primary;

        > :hover {
            background-color: $tertiary;
        }
    }

    &__button {
        margin: 0px 10px;
    }
}