@import '../../assets/styles/colors.scss';

.spot-track-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid $tertiary;
    
    margin: 20px 0px;
    padding: 5px;

    &__album-cover {
        img {
            max-height: 7vw;
        }
    }

    &__track-info {
        width: 20%;
    }
    
    &__album-name {
        width: 20%;
    }

    &__release-date {
        width: 20%;
    }

    &__track-actions {
        width: 5%;
    }

    &__delete-button {
        color: $red;
        cursor: pointer;
        margin: 0 20px;
        font-size: 20px;
    }
}