@import './assets/styles/colors.scss';

body {
  background-color: $primary;
  color: $white;
}

.spot-app {
  margin: 0 4vw;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 25px 0 10px 0;
  }

  &__playlist-selector {
    margin: 10px 0px;
  }

  &__playlist-details {
    margin: 10px 0px;
  }
}